*,
*:before,
*:after {
  box-sizing: border-box;
}
.header-wrapper {
  position: fixed;
  left: 100px; /* Ширина левой навигации */
  right: 0;
  background-color: white;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 0; /* Чтобы быть над контентом, но под навигацией */
}
h1{
  padding-top: 20px;
  
}
ul{
  margin-left: 20px;
}
p{
  margin: 10px 0;
}
body {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  background: #ebe8e9;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #561e36;
}
a,
a:visited {
  color: #33030d;
}
.container {
  margin: 0 auto;
  max-width: calc(100% - 100px); 
  padding-left: 100px;
}

/* Home */
.home img {
  max-width: 230px;
}
.home .destinations {
  display: flex;
  justify-content: space-between;
}
.main-content {
  padding-top: 80px; /* Высота #clothing-nav (80px) + дополнительный отступ */
  padding-left: 0px; /* Ширина левой навигации (#nav) + небольшой отступ */
}

/* Navigation */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px; 
  padding: 30px;
  background: #ffffff;
  color: #33030d;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  z-index: 2;
}

#nav a {
  display: block; 
  margin-bottom: 10px; /* Добавлено для отступа между ссылками */
  color: #561e36;
  opacity: 0.7;
  transition: 0.2s ease color;
}

#nav a.router-link-active,
#nav a:hover {
  opacity: 1;
}
#logo {
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 1 !important;
}

a {
  text-decoration: none;
  font-weight: bold;
}
#nav .active-link{
  color:#ff004d;
  border-bottom:2px solid #ff004d;
} 


/* Вторая навигация */
#clothing-nav {
  position: fixed;
  height: 90px;
  top: 0;
  left: 100px; /* Располагаем навигацию справа от главной навигации */
  right: 0;
  padding: 20px;
  background: #ffffff;
  color: #33030d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#clothing-nav a {
  margin: 0 20px;
  color: #33030d;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

#clothing-nav a:hover {
  opacity: 1;
}
#clothing-nav  .active-link{
  color:#ff004d;
  border-bottom:2px solid #ff004d;
} 

/* Destination Details */
.destination-details {
  display: flex;
  gap: 30px;
  align-items: center;
}
.destination-details img {
  border-radius: 4px;
  border: 3px solid white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/*Modal Overlay*/
.modal-overlay:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
.modal-overlay-content {
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  min-width: 300px;
  max-width: 800px;
  background: white;
  padding: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.close {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 10px;
  font-size: 1.4rem;
}

.go-back {
  display: inline-block;
  margin-bottom: 15px;
}

/* Form */
.search{
  border: 1px solid gray;
  padding: 10px;
  margin:20px 0;
  border-radius:5px;
  background-color: white;
  min-width: 850px;
}

.form{
  display:flex;
  flex-direction: column;
  max-width:400px;
  margin: 100px auto;
}

.input{
  border: 1px solid gray;
  padding: 10px;
  margin-bottom:20px;
  border-radius:5px;
  background-color: white;
}

.btn{
  background-color:#561e36;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border:none;
  display: block;
  margin-bottom: 10px; /* Добавляет отступ между кнопками */
  width: 30%; /* Заставляет кнопки занимать всю ширину родителя */
}
.btn:hover {
  background-color: #ff004d; /* Цвет кнопки при наведении */
}
/* Стили для контейнера продуктов */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

/* Стили для карточки продукта */
.products a {
  display: block;
  background: white;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.products a:hover {
  transform: translateY(-5px);
}

.products img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.products h2 {
  margin-top: 10px;
  font-size: 1.2em;
}

/* Стили для сетки элементов, применяемые в различных категориях */
.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 0 0;
}

/* Стили для каждого элемента в сетке, общие для домашней страницы и категорий */
.item {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.item h2 {
  margin-top: 10px;
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  #nav, #clothing-nav {
    all: unset;
    box-sizing: border-box;
  }
  #nav *, #clothing-nav * {
    all: unset;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  
  body {
    padding-top: 0px;
    padding-bottom: 60px;
  }
  .main-content {
    padding-top: 40px; /* Высота #clothing-nav на мобильных устройствах */
    padding-left: 0; /* Убираем левый отступ на мобильных устройствах */
  }
  #nav, #clothing-nav {
    position: fixed !important;
    left: 0 !important;
    width: 100% !important;
    height: 60px !important;
    padding: 10px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    background: #ffffff !important;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #clothing-nav {
    top: 0 !important;
    z-index: 1002 !important;
  }

  #nav {
    bottom: 0 !important;
    z-index: 1001 !important;
  }

  #nav a, #clothing-nav a {
    margin: 0 !important;
    padding: 5px !important;
    font-size: 0.9em !important;
    color: #561e36 !important;
    opacity: 1 !important;
    display: block !important;}
    
  .container {
      margin: 0 auto;
      max-width: 100%; 
      padding: 0px 20px;
    }
    .product {
      padding: 20px;
      margin-top: 0px; /* Учитываем высоту верхней навигации */
      margin-bottom: 0px; /* Учитываем высоту нижней навигации */
    }
  
    .product-details img {
      max-width: 100%;
      height: auto;
    }
  
    .product-details .btn {
      width: 100%; /* Кнопка на всю ширину на мобильных устройствах */
    }
    .header-wrapper {
      margin: 0;
      position: fixed;
      left: 0px; /* Ширина левой навигации */
    }

    .search{
      border: 1px solid gray;
      padding: 10px;
      margin:20px 0;
      border-radius:5px;
      background-color: white;
      min-width: 350px;
    }
   }
